body {
	background-color: $bg-color;
	overflow-x: hidden;
}

.header.active,
.navbar.active {
  background-color: black !important ;
  width: 100%;
}

.navbar-toggler{
	border: none;
	outline: none;
}

.navbar-toggler:focus {
	outline: none; 
	box-shadow: none; 
  }

.conatiner-fluid {
	background-color: $bg-color;
}

.header {
	position: sticky;
	top: 0;
	z-index: 1000;
}

.img-logo-nav {
	width: 200px;
}

.bg-transparent {
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
}

.content-overlay {
	position: absolute;
	bottom: 8rem;
	left: 6rem;
	z-index: 1;
}

.content-overlay p {
	font-size: 2rem;
	font-weight: $font-weight;
}

.video-container {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

iframe {
	width: 85vw;
	height: 95vh;
	border-radius: 8px;
	transition: all 0.3s ease-in-out;
	z-index: 1000;
}

.btn-video {
	background-color: transparent;
	border-style: none;
}

.btn-video img {
	width: 70%;
}

.text-flight {
	position: absolute;
	bottom: 70px;
	left: 110px;
}

.video-background {
	position: relative;
	width: 100%;
	height: 100vh;
	object-fit: cover;
	z-index: -1;
}

.footer {
	gap: 3rem;
}

@media only screen and (max-width: 767px) {
	.navbar-toggler {
		margin-left: 1.5rem;
	}

	.navbar-toggler-icon {
		background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns%3D%22http://www.w3.org/2000/svg%22 viewBox%3D%220 0 30 30%22%3E%3Cpath stroke%3D%22rgba%28255, 255, 255, 1%29%22 stroke-width%3D%222%22 stroke-linecap%3D%22round%22 stroke-miterlimit%3D%2210%22 d%3D%22M4 7h22M4 15h22M4 23h22%22/%3E%3C/svg%3E");
	}

	.content-overlay {
		bottom: 3rem;
		left: 1rem;
	}

	.text-flight {
		bottom: 3rem;
		left: 2.5rem;
	}

	.footer {
		flex-direction: column;
		gap: 0;
		padding: 0;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.navbar-toggler {
		margin-left: 4rem;
	}

	.navbar-toggler-icon {
		background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns%3D%22http://www.w3.org/2000/svg%22 viewBox%3D%220 0 30 30%22%3E%3Cpath stroke%3D%22rgba%28255, 255, 255, 1%29%22 stroke-width%3D%222%22 stroke-linecap%3D%22round%22 stroke-miterlimit%3D%2210%22 d%3D%22M4 7h22M4 15h22M4 23h22%22/%3E%3C/svg%3E");
	}

	.content-overlay {
		bottom: 5rem;
		left: 2rem;
	}
}
