* {
  color: #fff;
}

body {
  background-color: #000;
  overflow-x: hidden;
}

.bg-custom {
  background-color: #000;
  width: 100vw;
  padding: 0 0 1rem 1rem;
  margin-top: 0.5rem;
  border-radius: 10px;
}

.conatiner-fluid {
  background-color: black;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.img-logo-nav {
  width: 200px;
}

.bg-transparent {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
}

.content-overlay {
  position: absolute;
  bottom: 8rem;
  left: 6rem;
  z-index: 1;
}

.content-overlay p {
  font-size: 2rem;
  font-weight: 700;
}

.video-container {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

iframe {
  width: 85vw;
  height: 95vh;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  z-index: 1000;
}

.btn-video {
  background-color: transparent;
  border-style: none;
}

.btn-video img {
  width: 70%;
}

.text-flight {
  position: absolute;
  bottom: 70px;
  left: 110px;
}

.video-background {
  position: relative;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.footer {
  gap: 3rem;
}

@media only screen and (max-width: 767px) {
  .navbar-toggler {
    margin-left: 1.5rem;
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns%3D%22http://www.w3.org/2000/svg%22 viewBox%3D%220 0 30 30%22%3E%3Cpath stroke%3D%22rgba%28255, 255, 255, 1%29%22 stroke-width%3D%222%22 stroke-linecap%3D%22round%22 stroke-miterlimit%3D%2210%22 d%3D%22M4 7h22M4 15h22M4 23h22%22/%3E%3C/svg%3E");
  }
  .content-overlay {
    bottom: 3rem;
    left: 1rem;
  }
  .text-flight {
    bottom: 3rem;
    left: 2.5rem;
  }
  .footer {
    flex-direction: column;
    gap: 0;
    padding: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-toggler {
    margin-left: 4rem;
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns%3D%22http://www.w3.org/2000/svg%22 viewBox%3D%220 0 30 30%22%3E%3Cpath stroke%3D%22rgba%28255, 255, 255, 1%29%22 stroke-width%3D%222%22 stroke-linecap%3D%22round%22 stroke-miterlimit%3D%2210%22 d%3D%22M4 7h22M4 15h22M4 23h22%22/%3E%3C/svg%3E");
  }
  .content-overlay {
    bottom: 5rem;
    left: 2rem;
  }
}
.bg-image1 {
  background-image: url("/assets/images/main/main-2.jpg");
  background-size: cover;
  position: relative;
}

.bg-image2 {
  background-image: url("/assets/images/main/53698254934_61e3d9c714_o.jpg");
  background-size: contain;
  position: relative;
  background-position: right;
  background-repeat: no-repeat;
}

.bg-image3 {
  background-image: url("/assets/images/main/52055543783_d496d81a5d_o.jpg");
  background-size: cover;
  position: relative;
}

.bg-image4 {
  background-image: url("/assets/images/main/main-5.jpg");
  background-size: cover;
  position: relative;
}

@media only screen and (max-width: 991px) {
  .bg-image2 {
    background-size: cover;
    background-position: center;
  }
  .bg-image1,
  .bg-image3,
  .bg-image4 {
    background-position: center;
  }
}
.bg-image5 {
  background-image: url("/assets/images/falcon9/falcon9-1.jpg");
  background-size: cover;
}

.bg-image6 {
  background-image: url("/assets/images/falcon9/falcon9-3.jpg");
  background-size: cover;
}

.text-center h1 {
  font-size: 6rem;
  font-weight: 700;
}

.numbers-falcon > p {
  font-size: 8rem;
}

.numbers-falcon span {
  font-size: 3rem;
}

.text-about-falcon {
  width: 30%;
  font-size: 1.2rem;
  text-align: justify;
  margin-right: 10rem;
}

.bg-image7 {
  background-image: url("/assets/images/falcon9/falcon9-2.jpg");
  background-size: cover;
  height: 80vh;
  width: 40%;
  border-radius: 10px;
}

.falcon-characters {
  height: 100vh;
}

.falcon-list {
  width: 40%;
}

.falcon-list h1 {
  font-size: 4rem;
}

.falcon-list h2 {
  font-size: 1.8rem;
}

.bg-image8 {
  background-image: url("/assets/images/falcon9/falcon-4.jpg");
  background-size: cover;
}

.falcon-flight {
  position: relative;
}

.falcon-flight p {
  font-size: 1.2rem;
}

.falcon-flight span {
  font-size: 2rem;
}

.falcon-raptor p {
  text-align: justify;
}

.img-merlim-2 {
  width: 35%;
}

.bg-image9 {
  background-image: url("/assets/images/falcon9/falcon-6.jpeg");
  background-size: cover;
}

@media only screen and (max-width: 991px) {
  .text-center h1 {
    font-size: 5rem;
  }
  .text-center p {
    padding: 0 2rem;
  }
  .bg-image5 {
    background-position: center;
  }
  .falcon-flights {
    flex-wrap: wrap;
  }
  .text-about-falcon {
    width: 70%;
    margin-right: 6rem;
  }
  .falcon-list {
    width: 90%;
  }
  .falcon-characters {
    height: 100%;
  }
  .bg-image7 {
    width: 90%;
    margin-top: 1.5rem;
  }
  .bg-image9 {
    background-position: center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .text-about-falcon {
    margin-right: 12rem;
  }
  .falcon-raptor {
    height: 100vh;
  }
  .img-merlim-2 {
    width: 80%;
  }
}
h1 {
  font-size: 4.5rem;
  font-weight: 700;
}

.bg-image10 {
  background-image: url("/assets/images/falcon-heavy/falcon-heavy-1.jpg");
  background-size: cover;
}

.heavy-list {
  width: 40%;
}

.img-heavy {
  width: 75%;
}

.heavy {
  margin-top: 5rem;
  margin-bottom: 5rem;
  margin-left: 5rem;
}

.heavy-flight {
  position: relative;
}

.btn-video {
  background-color: transparent;
  border-style: none;
}

.btn-video img {
  width: 70%;
}

.heavy-flight p {
  font-size: 1.2rem;
}

.heavy-flight span {
  font-size: 2.5rem;
}

.bg-image11 {
  background-image: url("/assets/images/falcon-heavy/40143096241_0324643b5e_o.jpg");
  background-size: cover;
}

.heavy-landing {
  width: 40%;
  margin-right: 4rem;
}

.heavy-landing h2 {
  font-weight: 700;
  font-size: 3rem;
}

.heavy-2-landing {
  margin-left: 4rem;
}

.heavy-list {
  width: 40%;
}

.img-heavy-last {
  width: 100%;
  height: 100vh;
}

@media only screen and (max-width: 767px) {
  .bg-image10,
  .bg-image11 {
    background-position: center;
  }
  .heavy-flights {
    flex-wrap: wrap;
  }
  .mx-5 {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .heavy-list, .heavy-2-landing video {
    width: 90%;
  }
  .heavy {
    margin: 1rem 0 1rem 1rem;
  }
  .img-heavy {
    width: 90%;
    margin: 2rem 0 2rem 0;
  }
  .heavy-landing {
    width: 90%;
    margin-right: 0;
  }
  .heavy-2-landing {
    margin-left: 0;
    flex-direction: column-reverse;
  }
  .img-heavy-last {
    height: 80vh;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .bg-image10,
  .bg-image11 {
    background-position: center;
  }
  .heavy {
    margin: 1rem 0 1rem 0;
  }
  .heavy-list {
    width: 85%;
  }
  .img-heavy-list {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .heavy-landing {
    width: 85%;
    margin-right: 0;
  }
  .heavy-2-landing {
    margin-left: 0;
    flex-direction: column-reverse;
  }
  .video-heavy {
    width: 100%;
  }
  .w-50 {
    width: 100% !important;
  }
}
h1 {
  font-size: 5rem;
  font-weight: 700;
}

.bg-image12 {
  background-image: url("/assets/images/dragon/dragon-1.jpg");
  background-size: cover;
}

.dragon-list, .dragon-humans-trip, .draco-img, .dragon-landing-trip {
  width: 40%;
}

.dragon-list h1 {
  font-size: 4rem;
}

.dragon-list h2 {
  font-size: 1.8rem;
}

.img-dragon {
  width: 100%;
}

.dragon,
.dragon-landing {
  margin: 5rem 0 5rem 5rem;
}

.dragon-flight {
  position: relative;
}

.dragon-flight p {
  font-size: 1.2rem;
}

.dragon-flight span {
  font-size: 2rem;
}

.bg-image13 {
  background-image: url("/assets/images/dragon/dragon-3.jpg");
  background-size: cover;
}

.dragon-humans-trip h2 {
  font-size: 3rem;
  font-weight: 700;
}

.img-human {
  width: 90%;
  margin-left: 6rem;
}

.about-draco {
  margin-left: 6rem;
}

.dragon-landing h1 {
  font-size: 3.5rem;
}

.img-landing img {
  width: 90%;
  height: 90vh;
  margin-right: 6rem;
}

.img-final {
  width: 100%;
  height: 100vh;
}

@media only screen and (max-width: 991px) {
  .bg-image12, .bg-image13 {
    background-position: center;
  }
  .dragon-list {
    width: 90%;
  }
  .dragon,
  .dragon-landing {
    margin: 1rem 0 1rem 0;
  }
  .img-human, .about-draco {
    margin-left: 0;
  }
  .dragon-humans-trip {
    width: 90%;
    margin-top: 2rem;
  }
  .img-landing {
    width: 100%;
  }
  .img-landing img {
    width: 95%;
    height: 70vh;
    margin-right: 0;
  }
  .dragon-landing-trip {
    width: 90%;
    margin-bottom: 2rem;
  }
  .img-final {
    height: 50vh;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .dragon-list {
    width: 85%;
  }
  .about-draco {
    margin-left: 0;
  }
  .img-human, .div-img-dragon {
    width: 100%;
  }
  .draco-img, .img-dragon {
    width: 90%;
  }
}
h1 {
  font-size: 5rem;
  font-weight: 700;
}

.starship-characters {
  height: 100vh;
}

.starship-list {
  width: 40%;
}

.starship-list h1 {
  font-size: 4rem;
}

.starship-list h2 {
  font-size: 1.8rem;
}

.bg-image14 {
  background-image: url("/assets/images/starship/starship-1.png");
  background-size: cover;
}

.bg-image15 {
  background-image: url("/assets/images/starship/starship-2.jpg");
  background-size: cover;
  height: 80vh;
  width: 40%;
  border-radius: 10px;
  background-position: center;
}

.starship-flight {
  position: relative;
}

.bg-image16 {
  background-image: url("/assets/images/starship/starship-3.jpg");
  background-size: cover;
  background-position: center;
}

.bg-image17 {
  background-image: url("/assets/images/starship/starship-4.jpg");
  background-size: cover;
  position: relative;
}

.text-starship {
  position: absolute;
  bottom: 7rem;
  left: 12rem;
}

.text-starship h5 {
  font-size: 2.5rem;
  font-weight: 700;
}

.video-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.bg-image18 {
  background-image: url("/assets/images/artemis/module-moon.jpg");
  background-size: cover;
}

.bg-image19 {
  background-image: url("/assets/images/starship/starship-7.png");
  background-size: cover;
  background-position: right;
}

.bg-image20 {
  background-image: url("/assets/images/starship/starship-8.png");
  background-size: cover;
  background-position: right;
}

.bg-image21 {
  position: relative;
  background-image: url("/assets/images/starship/starship-5.jpg");
  background-size: cover;
}

@media only screen and (max-width: 991px) {
  .bg-image14, .bg-image17, .bg-image18, .bg-image19, .bg-image20, .bg-image21 {
    background-position: center;
  }
  .starship-list {
    width: 90%;
  }
  .starship-characters {
    height: 100%;
  }
  .bg-image15 {
    margin-top: 2rem;
    width: 90%;
    height: 60vh;
  }
  .text-starship {
    bottom: 5rem;
    left: 2rem;
  }
  .w-25 {
    width: 90% !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .text-starship {
    bottom: 6rem;
    left: 0;
    padding: 3rem;
  }
}
.bg-image22 {
  background-image: url("/assets/images/solar-system/EarthOrbit.jpeg");
  background-size: cover;
}

.text-first h1 {
  font-size: 4rem;
  font-weight: 700;
}

.planet {
  margin: 5rem 0 5rem 5rem;
}

.planet-right {
  margin: 5rem 5rem 5rem 0;
}

.planet-characters {
  height: 100vh;
}

.planet-list {
  width: 40%;
}

.planet-list h1 {
  font-size: 4rem;
}

.planet-list h2 {
  font-size: 1.8rem;
}

.img-mercurio,
.img-netuno,
.img-venus,
.img-marte,
.img-jupiter,
.img-urano,
.img-sun {
  width: 60%;
}

.img-terra {
  width: 70%;
}

.img-planet {
  max-width: 100%;
  height: auto;
}

.planet-list-saturno {
  width: 40%;
  margin-right: 2rem;
}

.planet-list h1 {
  font-weight: 700;
}

.planets-distance {
  text-align: center;
}

.planets-distance h2 {
  font-size: 3rem;
  font-weight: 700;
}

.table-custom {
  width: 80%;
  border-collapse: collapse;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.table-custom th,
.table-custom td {
  font-weight: 700;
}

.table-custom th:first-child,
.table-custom td:first-child {
  text-align: left;
}

.table-custom th:nth-child(2),
.table-custom td:nth-child(2) {
  text-align: center;
}

.table-custom th:last-child,
.table-custom td:last-child {
  text-align: right;
}

.img-moon {
  width: 90%;
}

.img-sun {
  width: 80%;
}

@media only screen and (max-width: 767px) {
  .bg-image22 {
    height: 121vh !important;
  }
}
@media only screen and (max-width: 991px) {
  .bg-image22 {
    background-position: center;
  }
  .planet,
  .planet-right {
    margin: 2rem 0 0 0;
  }
  .img-mercurio,
  .img-netuno,
  .img-venus,
  .img-marte,
  .img-jupiter,
  .img-urano,
  .img-sun {
    width: 80%;
    order: 1;
  }
  .img-moon,
  .planet-list,
  .table-custom {
    width: 90%;
  }
  .img-terra {
    width: 90%;
    order: 1;
  }
  .planet-list-saturno {
    width: 75%;
    margin-right: 0;
  }
  .div-img-netuno,
  .div-img-mercurio,
  .div-img-terra,
  .div-img-venus,
  .div-img-marte,
  .div-img-jupiter,
  .div-img-urano {
    width: 70%;
    margin-top: 1rem;
    order: 2;
  }
  .div-img-lua,
  .div-img-sol,
  .div-img-saturno {
    width: 90%;
    order: 2;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .planet-list,
  .planet-list-saturno {
    width: 80%;
  }
}
.bg-image23 {
  background-image: url("/assets/images/artemis/artemis_crew-sixteen_nine.jpg");
  background-size: cover;
  height: 100vh;
}

h1 {
  font-size: 5rem;
  font-weight: 600;
}

.artemis-list {
  width: 40%;
  padding-left: 7rem;
}

.img-artemis {
  width: 60%;
  max-width: 100%;
  height: auto;
}

.artemis-list h2,
.artemis-tripulation h2,
.artemis-list-text h2 {
  font-weight: 600;
  font-size: 3rem;
}

.artemis-tripulation {
  width: 40%;
  padding-right: 2rem;
}

.img-artemis-tripulation {
  width: 85%;
  padding-left: 2rem;
}

.artemis-list-text {
  padding-left: 2.5rem;
  width: 42%;
}

.artemis-list-text p {
  font-size: 1.2rem;
}

.img-trip {
  width: 70%;
}

.artemis-characters-sls {
  padding-left: 2rem;
}

.text-artemis {
  position: absolute;
  bottom: 9rem;
  left: 12rem;
}

.text-artemis h5 {
  font-size: 2.5rem;
  font-weight: 700;
}

.artemis-list-text p {
  font-weight: 300;
}

.bg-invert {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.bg-invert::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("/assets/images/artemis/artemis-infos-1.jpg");
  background-size: cover;
  background-position: center;
  transform: scaleX(-1);
  z-index: -1;
}

.bg-image24 {
  background-image: url("/assets/images/artemis/artemis-infos-2.jpg");
  background-size: cover;
}

.bg-image25 {
  background-image: url("/assets/images/artemis/artemis-infos-3.jpg");
  background-size: cover;
}

.bg-image26 {
  background-image: url("/assets/images/artemis/module-moon.jpg");
  background-size: cover;
}

@media only screen and (max-width: 991px) {
  .bg-image23 {
    height: 121vh;
  }
  .bg-image23, .bg-image25, .bg-image24, .bg-image26 {
    background-position: center;
  }
  .artemis {
    margin-bottom: 2rem;
    padding: 2rem;
    height: 100% !important;
  }
  .artemis-list {
    width: 90%;
    padding-left: 0;
    margin-top: 2rem;
  }
  .div-img-artemis {
    width: 100%;
  }
  .artemis-list-text {
    padding-left: 0;
    width: 90%;
  }
  .tripulation {
    height: 100% !important;
  }
  .artemis-tripulation {
    width: 90%;
    padding-right: 0;
    padding: 1rem;
    order: 1;
  }
  .img-artemis-tripulation {
    width: 90%;
    padding-left: 0;
    margin-top: 2rem;
  }
  .div-img-tripulation {
    order: 2;
  }
  .artemis-characters {
    padding: 2rem;
  }
  .img-trip {
    width: 90%;
    margin-top: 1rem;
  }
  .artemis-characters-sls {
    padding-left: 0;
  }
  .text-artemis {
    bottom: 5rem;
    left: 4rem;
    padding-right: 4rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .bg-image23 {
    height: 106vh;
  }
  .artemis-tripulation, .artemis-list {
    width: 85%;
  }
  .div-img-tripulation, .div-img-astronauts, .div-img-rocket {
    width: 100%;
  }
  .tripulation img, .img-artemis-tripulation, .div-img-astronaut img {
    width: 90%;
  }
  .artemis-characters {
    padding: 0;
  }
}

/*# sourceMappingURL=style.css.map */
