h1 {
	font-size: 5rem;
	font-weight: 700;
}

.bg-image12 {
	background-image: url("/assets/images/dragon/dragon-1.jpg");
	background-size: cover;
}

.dragon-list, .dragon-humans-trip, .draco-img, .dragon-landing-trip {
	width: 40%;
}

.dragon-list h1 {
	font-size: 4rem;
}

.dragon-list h2 {
	font-size: 1.8rem;
}

.img-dragon {
	width: 100%;
}

.dragon,
.dragon-landing {
	margin: 5rem 0 5rem 5rem;
}

.dragon-flight {
	position: relative;
}

.dragon-flight p {
	font-size: 1.2rem;
}

.dragon-flight span {
	font-size: 2rem;
}

.bg-image13 {
	background-image: url("/assets/images/dragon/dragon-3.jpg");
	background-size: cover;
}

.dragon-humans-trip h2 {
	font-size: 3rem;
	font-weight: 700;
}

.img-human {
	width: 90%;
	margin-left: 6rem;
}

.about-draco {
	margin-left: 6rem;
}

.dragon-landing h1 {
	font-size: 3.5rem;
}

.img-landing img {
	width: 90%;
	height: 90vh;
	margin-right: 6rem;
}

.img-final {
	width: 100%;
	height: 100vh;
}

@media only screen and (max-width: 991px) {
	.bg-image12, .bg-image13 {
		background-position: center;
	}

	.dragon-list {
		width: 90%;
	}

	.dragon,
	.dragon-landing {
		margin: 1rem 0 1rem 0;
	}

	.img-human, .about-draco {
		margin-left: 0;
	}

	.dragon-humans-trip {
		width: 90%;
		margin-top: 2rem;
	}
	.img-landing {
		width: 100%;
	}
	.img-landing img {
		width: 95%;
		height: 70vh;
		margin-right: 0;
	}

	.dragon-landing-trip {
		width: 90%;
		margin-bottom: 2rem;
	}

	.img-final {
		height: 50vh;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	
	.dragon-list {
		width: 85%;
	}

	.about-draco {
		margin-left: 0;
	}

	.img-human, .div-img-dragon {
		width: 100%;
	}

	.draco-img, .img-dragon {
		width: 90%;
	}
}
