h1 {
	font-size: 5rem;
	font-weight: 700;
}

.bg-image12 {
	background-image: url("/assets/images/dragon/dragon-1.jpg");
	background-size: cover;
}

.dragon-list {
	width: 40%;
}

.dragon-list h1 {
	font-size: 4rem;
}

.dragon-list h2 {
	font-size: 1.8rem;
}

.img-dragon {
	width: 100%;
}

.dragon,
.dragon-landing {
	margin-top: 5rem;
	margin-bottom: 5rem;
	margin-left: 5rem;
}

.dragon-flight {
	position: relative;
}

.dragon-flight p {
	font-size: 1.2rem;
}

.dragon-flight span {
	font-size: 2rem;
}

.bg-image13 {
	background-image: url("/assets/images/dragon/dragon-3.jpg");
	background-size: cover;
}

.dragon-humans-trip {
	width: 40%;
}

.dragon-humans-trip h2 {
	font-size: 3rem;
	font-weight: 700;
}

.img-human {
	width: 90%;
	margin-left: 6rem;
}

.draco-img {
	width: 40%;
}

.dragon-landing-trip {
	width: 40%;
}

.dragon-landing h1 {
	font-size: 3.5rem;
}

.img-landing {
	width: 90%;
	height: 90vh;
	margin-right: 6rem;
}

.img-final {
	width: 100%;
	height: 100vh;
}
