h1 {
	font-size: 4.5rem;
	font-weight: $font-weight;
}

.bg-image10 {
	background-image: url("/assets/images/falcon-heavy/falcon-heavy-1.jpg");
	background-size: cover;
}

.heavy-list {
	width: 40%;
}

.img-heavy {
	width: 75%;
}

.heavy {
	margin-top: 5rem;
	margin-bottom: 5rem;
	margin-left: 5rem;
}

.heavy-flight {
	position: relative;
}

.btn-video {
	background-color: transparent;
	border-style: none;
}

.btn-video img {
	width: 70%;
}

.heavy-flight p {
	font-size: 1.2rem;
}

.heavy-flight span {
	font-size: 2.5rem;
}

.bg-image11 {
	background-image: url("/assets/images/falcon-heavy/40143096241_0324643b5e_o.jpg");
	background-size: cover;
}

.heavy-landing {
	width: 40%;
	margin-right: 4rem;
}

.heavy-landing h2 {
	font-weight: 700;
	font-size: 3rem;
}

.heavy-2-landing {
	margin-left: 4rem;
}

.heavy-list {
	width: 40%;
}

.img-heavy-last {
	width: 100%;
	height: 100vh;
}
