h1 {
	font-size: 4.5rem;
	font-weight: $font-weight;
}

.bg-image10 {
	background-image: url("../images/falcon-heavy/falcon-heavy-1.jpg");
	background-size: cover;
}

.heavy-list {
	width: 40%;
}

.img-heavy {
	width: 75%;
}

.heavy {
	margin-top: 5rem;
	margin-bottom: 5rem;
	margin-left: 5rem;
}

.heavy-flight {
	position: relative;
}

.btn-video {
	background-color: transparent;
	border-style: none;
}

.btn-video img {
	width: 70%;
}

.heavy-flight p {
	font-size: 1.2rem;
}

.heavy-flight span {
	font-size: 2.5rem;
}

.bg-image11 {
	background-image: url("../images/falcon-heavy/40143096241_0324643b5e_o.jpg");
	background-size: cover;
}

.heavy-landing {
	width: 40%;
	margin-right: 4rem;
}

.heavy-landing h2 {
	font-weight: 700;
	font-size: 3rem;
}

.heavy-2-landing {
	margin-left: 4rem;
}

.heavy-list {
	width: 40%;
}

.img-heavy-last {
	width: 100%;
	height: 100vh;
}

@media only screen and (max-width: 767px) {
	.bg-image10,
	.bg-image11 {
		background-position: center;
	}

	.heavy-flights {
		flex-wrap: wrap;
	}

	.mx-5 {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}

	.heavy-list,
	.heavy-2-landing video {
		width: 90%;
	}

	.heavy {
		margin: 1rem 0 1rem 1rem;
	}

	.img-heavy {
		width: 90%;
		margin: 2rem 0 2rem 0;
	}

	.heavy-landing {
		width: 90%;
		margin-right: 0;
	}

	.heavy-2-landing {
		margin-left: 0;
		flex-direction: column-reverse;
	}

	.img-heavy-last {
		height: 80vh;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.bg-image10,
	.bg-image11 {
		background-position: center;
	}

	.heavy {
		margin: 1rem 0 1rem 0;
	}

	.heavy-list {
		width: 85%;
	}

	.img-heavy-list {
		width: 100%;
		margin-top: 2rem;
		margin-bottom: 2rem;
	}

	.heavy-landing {
		width: 85%;
		margin-right: 0;
	}

	.heavy-2-landing {
		margin-left: 0;
		flex-direction: column-reverse;
	}

	.video-heavy {
		width: 100%;
	}

	.w-50 {
		width: 100% !important;
	}
}
