.bg-image5 {
	background-image: url("../images/falcon9/falcon9-1.jpg");
	background-size: cover;
}

.bg-image6 {
	background-image: url("../images/falcon9/falcon9-3.jpg");
	background-size: cover;
}

.text-center h1 {
	font-size: 6rem;
	font-weight: $font-weight;
}

.numbers-falcon > p {
	font-size: 8rem;
}

.numbers-falcon span {
	font-size: 3rem;
}

.text-about-falcon {
	width: 30%;
	font-size: 1.2rem;
	text-align: justify;
	margin-right: 10rem;
}

.bg-image7 {
	background-image: url("../images/falcon9/falcon9-2.jpg");
	background-size: cover;
	height: 80vh;
	width: 40%;
	border-radius: 10px;
}

.falcon-characters {
	height: 100vh;
}

.falcon-list {
	width: 40%;
}

.falcon-list h1 {
	font-size: 4rem;
}

.falcon-list h2 {
	font-size: 1.8rem;
}

.bg-image8 {
	background-image: url("../images/falcon9/falcon-4.jpg");
	background-size: cover;
}

.falcon-flight {
	position: relative;
}

.falcon-flight p {
	font-size: 1.2rem;
}

.falcon-flight span {
	font-size: 2rem;
}

.falcon-raptor p {
	text-align: justify;
}

.img-merlim-2 {
	width: 35%;
}

.bg-image9 {
	background-image: url("../images/falcon9/falcon-6.jpeg");
	background-size: cover;
}

@media only screen and (max-width: 991px) {
	.text-center h1 {
		font-size: 5rem;
	}

	.text-center p {
		padding: 0 2rem;
	}

	.bg-image5 {
		background-position: center;
	}

	.falcon-flights {
		flex-wrap: wrap;
	}

	.text-about-falcon {
		width: 70%;
		margin-right: 6rem;
	}

	.falcon-list {
		width: 90%;
	}

	.falcon-characters {
		height: 100%;
	}

	.bg-image7 {
		width: 90%;
		margin-top: 1.5rem;
	}

	.bg-image9 {
		background-position: center;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.text-about-falcon {
		margin-right: 12rem;
	}

	.falcon-raptor {
		height: 100vh;
	}

	.img-merlim-2 {
		width: 80%;
	}
}
