.bg-image1 {
	background-image: url("../images/main/main-2.jpg");
	background-size: cover;
	position: relative;
}

.bg-image2 {
	background-image: url("../images/main/53698254934_61e3d9c714_o.jpg");
	background-size: contain;
	position: relative;
	background-position: right;
	background-repeat: no-repeat;
}

.bg-image3 {
	background-image: url("../images/main/52055543783_d496d81a5d_o.jpg");
	background-size: cover;
	position: relative;
}

.bg-image4 {
	background-image: url("../images/main/main-5.jpg");
	background-size: cover;
	position: relative;
}

@media only screen and (max-width: 991px) {
	.bg-image2 {
		background-size: cover;
		background-position: center;
	}

	.bg-image1,
	.bg-image3,
	.bg-image4 {
		background-position: center;
	}
}